@charset "utf-8";

*{margin: 0; padding: 0;}
#wrap{width: 100%;}

h1{text-align: center; background: #777; color: #fff; padding: 20px 0;}
form{width: 95%; margin: 0 auto;}
label{display: block; background-color: yellowgreen; padding: 10px 20px; color: #fff;
        border-radius: 10px; margin: 20px 0;}
.view{ transition: all 0.5s ease; opacity: 0;}
span { padding: 0 10px; font-size: 14px;}
button{margin: 10px 0; border: none; border-radius: 8px; 
        background: deepskyblue; color: #fff;}
.imgbox{width: 500px; height: 300px; padding: 10px 0; position: relative;
        border-radius: 20px; overflow: hidden;}
.imgbox img {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.imgbox img:not(:first-child) {display: none;}
input[type="radio"] {margin: 10px 0;}
input[value="석굴암"]:checked~ .imgbox img[alt="석굴암"] {display: block;}
input[value="남대문"]:checked~ .imgbox img[alt="남대문"] {display: block;}
input[value="독립기념관"]:checked~ .imgbox img[alt="독립기념관"] {display: block;}
input[type="checkbox"]:checked~ .view{opacity: 1;}