<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.exam.BlogMapper">
  <select id="selectAllList" resultType="com.ezen.exam.TestVO">
  	select * from test
  </select>
  
  <insert id="insertTest">
  	insert into test values(test_seq.nextval, #{name}, #{phone}, #{address}) 
  </insert>
  
  <update id="updateTest">
  	update test set name=#{name}, phone=#{phone}, address=#{address}
  	where id=#{id}
  </update>
  
  <delete id="deleteTest">
  	delete from test where id=#{id}
  </delete>
  
  
</mapper>